{% extends "base.html" %}

{% block title %}
{% if create %}
    Létrehozás
{% else %}
    Szerkesztés
{% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="my-2">
    {% include "listings/breadcrumb.html" %}
</div>
<form method="post" onchange="changed = true;" id="form-meta">
    {{ form_meta.csrf_token() }}
    <div class="form-group mb-1">
        {{ form_meta.title.label }}
        {{ form_meta.title(class="form-control", id='content')}}
    </div>
    <div class="form-group mb-1">
        {{ form_meta.intent.label }}
        {{ form_meta.intent(class="form-control", id='content')}}
    </div>
    <div class="form-group mb-1">
        {{ form_meta.condition.label }}
        {{ form_meta.condition(class="form-control", id='content')}}
    </div>
    <div class="form-group mb-1">
        {{ form_meta.description.label }}
        {{ form_meta.description(class="form-control no-resize", id='content')}}
    </div>
    <div class="form-group mb-1">
        {{ form_meta.price.label }}
        {{ form_meta.price(class="form-control", id='content')}}
    </div>
    <div class="form-group">
        {{ form_meta.location.label }}
        {{ form_meta.location(class="form-control", id='content')}}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary-dark">
            <i class="fa-solid fa-floppy-disk"></i> Mentés
        </button>
    </div>

</form>

<div class="d-flex align-items-center">
        {% if not create %}
            <form action="{{ url_for('listings.delete', post_id=post.id) }}" method="post"
                  onsubmit='return confirm("Biztosan törli?")' class="d-inline">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-dark mx-2">
                    <i class="fa-solid fa-trash-can"></i> Törlés
                </button>
            </form>
        {% endif %}
</div>

<script>
    let changed = false;
    function confirmChanges(){
        if (changed === true){
            return confirm("Biztosan kilép? Nem mentett módosítások vannak.");
        }
        return true;
    }
</script>

{% endblock %}
