body {
    background-color: #303030;
    color: #f5f5f5; /* Light text color */
}
.btn-close:focus {
    outline: none;
    box-shadow: none;
}
.flash-message {
    color: #303030;
    font-size: 1.1em;
    position: relative;
    border: #1e1e1e 2px solid;
}
.progress-bar {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    background-color: #343a40;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation: progress 10s linear forwards;
}
@keyframes progress {
    from { width: 100%; }
    to { width: 0; }
}
#flashMessages{
    justify-content: center;
    transform: translateX(-50%);
    position: fixed;
    bottom: 10%;
    left: 50%;
    z-index: 1050;
    pointer-events: auto;
    width: 90%;
}
#flashMessages .alert {
    width: 90%;
    margin: 0 auto;
}

.loading {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.33);
    color: #fff;
    font-size: 14px;
    z-index: 9999;
    display: none; /* Hidden by default */
}

/* Style for the spinner */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.post {
    background-color: #282828;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-danger {
    background-color: #330000;
    border: #330000;
}
.btn-danger:hover {
    background-color: #4d0000;
    border-color: #4d0000;
}
.badge-custom {
    background-color: #343a40;
    color: #e0e0e0;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 0.95em;
}
.post .btn, .activity .btn {
    font-size: 0.9em;
}
.custom-a {
    color: lightblue;
    text-decoration: none;
}
.custom-a:hover {
    text-decoration: underline;
}
.custom-a:visited {
    color: steelblue;
}
.index-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #444;
    color: #ffffff;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    text-align: center;
    line-height: 30px;
}
.info-container {
    background: linear-gradient(135deg, #3a3f48, #6b7280); /* Softer gray gradient */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    align-items: center;
    font-size: 0.95em;
}

.info-container i {
    margin-right: 8px;
    margin-left: 5px;
    color: #f6ad55; /* Accent color for icons */
}

.btn-primary-dark {
    background-color: #1d1d1d; /* Dark background */
    color: #e2e8f0; /* Light text color for contrast */
    border: 1px solid #333; /* Slightly lighter border for subtle emphasis */
    border-radius: 8px; /* Rounded corners */
    font-size: 1rem; /* Font size */
    font-weight: 600; /* Slightly bold text */
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.btn-primary-dark:hover, .btn-primary-dark:focus {
    background-color: #333; /* Slightly lighter background on hover/focus */
    border-color: #444; /* Slightly lighter border on hover/focus */
    color: #e2e8f0; /* Keep text color consistent */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover/focus */
}

.btn-primary-dark:active {
    background-color: #444; /* Darker background on active state */
    border-color: #555; /* Darker border on active state */
}

.form-control, .form-control:focus {
    background-color: #495057; /* Darker background for inputs */
    color: whitesmoke; /* Light text color for inputs */
    border-color: black; /* Border color */
}
.form-group label {
    color: #f8f9fa; /* Light color for labels */
}
.btn-secondary {
    background-color: #6c757d; /* Secondary button color */
    border-color: #6c757d; /* Border color */
}
.btn {
    margin-top: 10px;
}
form input[type="checkbox"] {
    display: inline-block; /* Ensure checkboxes are inline */
    vertical-align: middle; /* Align checkboxes vertically with labels */
    margin-left: 5px; /* Add some spacing between checkbox and label text */
    margin-bottom: 2px;
}
.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.33);
    border-color: black;
}
.form-select:focus {
    outline: none;
    box-shadow: none;
}

.small-text {
    font-size: 0.9rem;
}
.card{
    background-color: #d71212;
    font-style: italic;
}
.badge{
    color: #4d0000;
}
.mini_container{
    background-color: #1a46ac;
}
.two-line-input {
    height: 4.5rem; /* Adjust the height for two lines */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    resize: none;
}

.form-control.no-resize {
    resize: none;
    max-width: 100%;
    height: 330px;
    max-height: 330px;
}

.user {
    background-color: #282828;;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.user .user-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.gray-text {
    color: #a0aec0;
}
.styled-image {
    border-radius: 15px;
    border: 2px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}