<div class="post">
    <div class="text-break lh-base"> {{ category.name }} </div>

    <div class="d-flex" style="font-size: 0.95rem">
            <a href="{{ url_for('categories.list_all', category_id=category.id) }}" class="btn btn-secondary me-1"><i class="fa-regular fa-eye"></i></a>

            <a href="{{ url_for('categories.edit', category_id=category.id) }}" class="btn btn-dark me-1"><i class="fas fa-edit"></i></a>
            <form action="{{ url_for('categories.delete', category_id=category.id) }}" method="post"
                  onsubmit='return confirm("Biztosan törli? ({{ category.name }})")'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary-dark"><i class="fas fa-trash"></i></button>
            </form>
    </div>
</div>